<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="./login">
        <label for="id_username">Enter your Username:</label>
	    <input type="text" id="id_username" name="username" placeholder="Username"><br>
	    <button type="submit" value="Submit">Submit</button>
	</form> 
    </body>
</html>