<!DOCTYPE html>
<html>
        <style>
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}


</style>
<head>
</head>
<body>

<a href="https://sugar-lift.sites.tjhsst.edu/">Return to Homepage</a><br><br><br>

<h3>{{gradDays}} days till you Graduate!</h3>

{{profileItems.full_name}}<br>
<img src={{profileItems.picture}}><br><br>


<form action="./nickname">
	<label for="id_nickname">Change your nickname here:</label>
	<input type="text" id="id_nickname" name="nickname" placeholder="Nickname"><br>

	
	<button type="submit" value="Submit">Submit</button>
</form> <br><br>



<ul>
	
</ul>

</body>
</html>