<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<p>
	    <h3>
	You must login with ION to use this service:</h3>
	<a href="{{login_link}}">
	    {{login_link}}
	</a>
	</p>
</body>
</html>